
<div class="section-our-work">
    <div class="wrapper">
    <h2>{{ section.settings.title }}</h2> 
      <h3>{{ section.settings.title1 }}</h3> 
         <h4> {{ section.settings.text }}</h4>
    
  

         <div class="main-work">
            <div class="flex">
                {% for block in section.blocks %}
             <div class="row-imgs">           
               <img src="{{ block.settings.image | img_url: 'master' }}" >
                <div class="images-overly">  
                 {{ block.settings.buy-text2 }} 
                       </div> 
               </div>
             {% endfor %}

 </div>
  </div>
</div>
 </div>


{% schema %}
  {
    "name": "our-work",
    "settings": [
      {
        "type" : "text",
        "id" : "title",
        "label" : "Heading"
      },
       {
        "type" : "text",
        "id" : "title1",
        "label" : "Heading_two"
      },
       {
        "type" : "text",
        "id" : "text",
        "label" : "text"
      }
        
    ],
    "blocks" : [
      {
        "type" : "image_picker",
        "name" : "Image",
        "settings": [
      {
            "type" : "image_picker",
            "id" : "image",
            "label" : "Image"
          },
          
           {
        "type" : "richtext",
        "id" : "buy-text2",
        "label" : "Hover_text"
      }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "our-work"
      }
    ]
  }
{% endschema %}